body {
  font-family: "Roboto", sans-serif;
  font-family: 400;
  font-size: 16px;
  color: black;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
}

.container {
  width: 1440px;
  margin: 0 auto;
  padding: 25px 38px;
}

.header-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-nav-list {
  display: flex;
}

.header-nav-list-item:not(:last-child) {
  margin-right: 25px;
}

.header-nav-link {
  font-size: 13px;
  line-height: 15px;
  text-transform: uppercase;
  color: #000000;
}
.header-nav-item:not(:last-child) {
  margin-right: 25px;
}

/* блок герой */

.section-deks {
  max-width: 100%;
  height: 504px;
  margin: 0 auto;

  background-color: #a0a0a0;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin-bottom: 80px;
}

.desk-title {
  font-size: 43px;
  line-height: 46px;
  color: #ffffff;
  margin-bottom: 15px;
}

.desk-text {
  font-size: 15px;
  line-height: 18px;
  color: #ffffff;
  margin-bottom: 30px;
}

.desk-link {
  font-size: 13px;
  line-height: 15px;
  color: #ffffff;
}

.section-desk {
  background-image: url(../images/Frame.jpg);
  background-image: url(../images/Frame.jpg);
  background-image: url(../images/Frame.jpg);
  height: 504px;
}

/* Inspires */

.desing-title {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 130px;
}

.desing-text {
  font-size: 43px;
  line-height: 58px;
  margin-bottom: 23px;
}

.started-link {
  margin-bottom: 80px;
  font-size: 13px;
  line-height: 21px;
  color: #000000;
}

.desing-list {
  display: flex;
}

.desing-item:not(:last-child) {
  margin-right: 25px;
}

.desing-item {
  text-align: center;
}

.desing-img {
  margin-bottom: 50px;
}

.desing-title {
  font-size: 27px;
  line-height: 30px;
  margin-bottom: 23px;
}

.desing-link {
  font-size: 13px;
  line-height: 15px;
  text-align: center;
  letter-spacing: 1.4px;
  text-transform: uppercase;
}

/* секція продукти */

.products-section {
  margin-bottom: 100px;
}

.products-title {
  font-weight: 400;
  font-size: 33px;
  line-height: 36px;
  margin-bottom: 16px;
  color: #000000;
  text-align: center;
}

.products-text {
  font-weight: 400;
  font-size: 15px;
  line-height: 18px;
  letter-spacing: 0.8px;
  color: #a0a0a0;
  margin-bottom: 53px;
  text-align: center;
}
.products-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.products-img {
  margin-bottom: 20px;
}

.products-text {
  font-weight: 400;
  font-size: 13px;
  line-height: 21px;
  letter-spacing: 0.7px;
  color: #a0a0a0;
}

.products-price {
  font-weight: 400;
  font-size: 12px;
  line-height: 21px;
  letter-spacing: 0.7px;
  color: #a0a0a0;
}

.section-hope {
  width: 1340px;
  height: 404px;
  padding: 10px;
  text-align: center;
  background-color: #9aa881;
}

.section-hope-title {
  font-size: 43px;
  text-align: center;
  color: #ffffff;
  line-height: 58px;
  font-weight: 400;
}

.section-hope-text {
  margin: 38px;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  text-align: center;
}

.hope-img {
  margin: 30px auto;
}

/* section make work */

.work-title {
  font-size: 34px;
  line-height: 36px;
  text-align: center;
  font-weight: 400;
  margin-bottom: 23px;
}

.work-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  letter-spacing: 0.8px;
  color: #a0a0a0;
  margin-bottom: 79px;
}

.work-list {
  display: flex;
  flex-wrap: wrap;
  gap: 25px;
}

.work-item {
  flex-basis: calc((100% - 125px )/6);
}
